<ul class="post-meta">
  {% if include.post.category %}
  <li aria-label="Category">
    <span class="category icon" aria-hidden="true"></span>
    <a href="/blog/categories/{{ include.post.category | slugify }}">
      {{ include.post.category | capitalize }}
    </a>
  </li>
  {% endif %}
  <li aria-label="Publication date">
    <span class="calendar icon" aria-hidden="true"></span>
    <time itemprop="datePublished" datetime="{{ include.post.date | date: "%Y-%m-%d" }}">
      {{ include.post.date | date_to_string }}
    </time>
  </li>
  <li aria-label="Reading time">
    <span class="reading icon" aria-hidden="true"></span>
    {{ include.content | reading_time }}
  </li>
</ul>
