.header {
  width: 100%;
  padding: 75px 0 20px 0;
  margin-bottom: $spacing-unit * 2;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url('/img/bg_1920.jpg');
  @include on-tablet {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url('/img/bg_770.jpg');
  }
  @include on-phone {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url('/img/bg_570.jpg');
  }
  @include on-small-pc {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url('/img/bg_1280.jpg');
  }
  @include on-large-pc {
    background-size: 100%;
  }
  background-attachment: fixed;
  background-position-x: center;
  background-repeat: no-repeat;

  h1 {
    font-size: 250%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    float: left;
    line-height: 1;

    @include on-phone {
      font-size: 200%;
    }

    a {
      color: white;
      opacity: 0.9;

      &:hover {
        text-decoration: none;
        opacity: 1;
      }
    }
  }

  a.header-btn {
    float: right;

    @include on-phone {
      margin-top: -47px;
      border: none;
    }
  }

  .wrapper:after {
    content: "";
    display: block;
    clear: both;
  }
}

a.header-btn {
  float: left;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  opacity: 0.9;
  padding: 4px 12px;
  margin: 7px 0 0 0;

  &:hover {
    text-decoration: none;
    opacity: 1;
    cursor: pointer;
  }
}
