.paginator {
  text-align: center;
  color: $color-weak;

  .paginator-older, .paginator-newer {
    text-transform: uppercase;
    font-size: $font-size-sub;
    display: inline-block;
    margin: #{$spacing-unit / 2};
    margin-bottom: 0;

    a {
      border: 1px solid $color-main;
      border-radius: 10px;
      padding: 5px 16px;

      &:hover {
        text-decoration: none;
        border-color: lighten($color-main, 15%);
      }
    }
  }
}
