$body-width: 780px;
$spacing-unit: 50px;
$phone-max-width: 570px;
$tablet-max-width: 770px;
$laptop-max-width: 1280px;
$hd-max-width: 1920px;

@mixin on-phone {
  @media screen and (max-width: $phone-max-width) {
    @content;
  }
}

@mixin on-tablet {
  @media screen and (max-width: $tablet-max-width) and (min-width: #{$phone-max-width + 1}) {
    @content;
  }
}

@mixin on-small-pc {
  @media screen and (max-width: $laptop-max-width) and (min-width: #{$tablet-max-width + 1}) {
    @content;
  }
}

@mixin on-medium-pc {
  @media screen and (max-width: $hd-max-width) and (min-width: #{$laptop-max-width + 1}) {
    @content;
  }
}

@mixin on-large-pc {
  @media screen and (min-width: #{$hd-max-width + 1}) {
    @content;
  }
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

.wrapper {
  max-width: calc(#{$body-width} - #{$spacing-unit});
  margin: 0 auto;
  padding: 0 ($spacing-unit / 2);

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

ul, ol {
  margin-left: $spacing-unit;
}
