html {
  font-size: 1.3rem;
  font-family: Lucida Grande, Helvetica, Arial;
  line-height: 1.6rem;
}

section {
  max-width: 40rem;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  font-family: Palatino, Palatino Linotype, Lucida Grande, Helvetica, Arial;
  line-height: 3rem;
}

h2 {
  font-size: 2rem;
  font-family: Palatino, Palatino Linotype, Lucida Grande, Helvetica, Arial;
  line-height: 2rem;
}

a {
  color: #e00000;
}

a:visited {
  color: #c60000;
}

a:hover {
  color: #ff0000;
}

li {
  margin: 0.2rem 0 0.4rem 0;
}

#content {
  margin: 0 auto;
}

#main {
  width: 100%;
  margin: 0;
  padding: 1rem;
}

#main section {
  margin-top: 5rem;
}

#title-avatar {
  margin: 3rem 0 0 0;
  text-align: center;

  img {
    width: 10rem;
  }

  @media (min-width: 830px) {
    float: left;
    margin: 3rem 1rem 1rem 0;
  }
}

#title-text {
  line-height: 1.8rem;
  text-align: center;
  padding-bottom: 2rem;

  @media (min-width: 830px) {
    padding-top: 1rem;
    text-align: left;
  }
}

section#title {
  font-size: 1.3rem;
}

footer {
  margin: 5rem auto;
  font-size: 1rem;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eeeeee;
    background: #111111;
  }
}
