html {
  font-size: 1.2rem;
  font-family: Lucida Grande, Helvetica, Arial;
  line-height: 1.6rem;

  @media (prefers-color-scheme: dark) {
    color: #eeeeee;
    background: #111111;
  }
}

section {
  max-width: 40rem;
  margin: 5rem auto 0;
}

h1 {
  font-size: 3rem;
  font-family: Palatino, Palatino Linotype, Lucida Grande, Helvetica, Arial;
  line-height: 3rem;
}

h2 {
  font-size: 2rem;
  font-family: Palatino, Palatino Linotype, Lucida Grande, Helvetica, Arial;
  line-height: 2rem;
}

a {
  color: #e00000;
}

a:visited {
  color: #c60000;
}

a:hover {
  color: #ff0000;
}

li {
  margin: 0.2rem 0 0.4rem 0;
}

#main p img {
  max-width: 100%;
  display: block;
  margin: auto;
}

header {
  max-width: 42rem;
  margin: 1rem auto;
  padding: 1rem;

  a {
    text-decoration: none;
  }

  a#header-title {
    float: left;
    font-family: Palatino, Palatino Linotype, Lucida Grande, Helvetica, Arial;
    font-size: 1.5rem;
    font-weight: 600;
  }

  ul {
    float: right;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      padding: 0 1rem 0 0;
    }
  }
}

#content {
  margin: 0 auto;
}

#main {
  width: 100%;
  margin: 0;
  padding: 1rem;
}

footer {
  margin: 5rem auto;
  font-size: 1rem;
  text-align: center;
}

ul.post-meta {
  padding: 0;
  font-size: 0.9rem;
  color: #888888;

  li {
    display: inline;
    margin-right: 1rem;
  }
}
